# Remove # in the following line if needed
#AddHandler php5-fastcgi .php

# Turn on URL rewriting
RewriteEngine On

RewriteBase /accabangladesh/

# Do not enable rewriting for files that exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite to index.php/URL
RewriteRule ^(.*)$ index.php/$1 [PT,L]